# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/

# Django specific
*.log
db.sqlite3
media/
staticfiles/
static_root/
local_settings.py

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyCharm
.idea/

# Env files
.env
*.env
